

.vote-button{
  float:left;
}

#viewForm, #story_form{
	display:none;
}

#header{
  height:30%;
}

.numVotes{
  color: none;
}

.story-title {
  font-size: 1.8em
}

.story-details {
  font-size: 1.5em
}

.story-text-container {
  padding-top: 20px
}

.row .col.m8 {
  padding-top: 20px;
}


.collection .collection-item {
  margin-top: 50px;
  padding-bottom: 50px;
}

img {
  display: block;
}

.collection .collection-item.avatar :not(.circle-clipper)>.circle {
  height: 80px;
  width: 80px;
}

.vote-button {
  position: inherit
}

.badge {
  position: absolute;
  top: 30px;
}

span.badge {
  font-size: 2em;
}

body{
	padding-left:40px;
	padding-right:40px;
}

.card .card-title{
  font-size: 48px;
  font-weight: 400;
}

@media screen and (max-width : 680px) {
  .story-title {
    font-size: 2.2em
  }

  /*body {
    background-color: red;
  }*/

  .collection .collection-item.avatar :not(.circle-clipper)>.circle {
    height: 110px;
    width: 110px;
  }
}
