
.card .card-title{
	font-size: 48px;
	font-weight: 400;
}

#storyHead{
	padding-bottom: 10px;
}

.vote-button{
  float:left;
}

#viewForm, #story_form{
	display:none;
}

#header{
  height:30%;
}

.numVotes{
  color: none;
}

.story-title {
  font-size: 2.2em
}

.story-details {
  font-size: 1.5em
}

.story-text-container {
  padding-top: 20px
}

.collection {
  padding: 3em;
}

.collection .collection-item {
  margin-top: 30px;
}

.collection .collection-item.avatar :not(.circle-clipper)>.circle {
  height: 80px;
  width: 80px;
}

.vote-button {
  position: inherit
}

.badge {
  position: absolute;
  top: 30px;
}

span.badge {
  font-size: 2em;
}

body{
	padding-left:40px;
	padding-right:40px;
}

.toast {
	font-size: 2.4em;
}

@media (max-width : 680px){
  .story-title {
    font-size: 3em
  }

