<!DOCTYPE HTML>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src ={{ url_for('static', filename='script.js') }}></script>
</head>

<body>
  
<div class="login">
  <div class="nav-content center">
      <ul class="tabs">
        <li id = "signup-tab" class="tab"><a href="#test1">Sign Up</a></li>
        <li id = "login-tab" class="tab"><a class="active" href="#test2">Login</a></li>
      </ul>
    </div>
  <div class="login-form">
    <input id = "username" type="text" placeholder="Username"/><br>
    <br>
    <input id = "password" type="text" placeholder="Password"/><br>
    <input type="button" value="Login" class="login-button"/>
    <br>
  </div>
  <div class = "signup-form">
     <input id = "firstname" type="text" placeholder="First Name"/><br>
     <input id = "lastname" type="text" placeholder="Last Name"/><br>
     <input id = "username-signup" type="text" placeholder="Cornell NetID"/><br>
     <input id = "password-signup" type="text" placeholder="Password"/><br>
     <input type="button" value="Sign Up" class="signup-button"/>
   </div>

</div>

</body>
</html>
