<!doctype html>
<head>
  <title>Flaskr</title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" defer>

    // var socket = io.connect('https://' + document.domain + ':' + location.port);
    // var socket = io.connect(window.location.hostname);
    var socket = io()
    socket.emit('myEvent')

    function emitVote(storyID, voterID){
      socket.emit('newVote', storyID, voterID)
    }

    function createStory(story) {

      var newListItem = document.createElement('div')
      var title = document.createElement('h2')
      var text = document.createElement('p')
      var image = createStoryImage(story.displays)
      var button = createVoteButton(story)
      var numVotes = document.createElement('p')
      title.appendChild(document.createTextNode(story.name))
      text.appendChild(document.createTextNode(story.text))
      numVotes.appendChild(document.createTextNode(story.upvote))
      newListItem.appendChild(image)
      newListItem.appendChild(title)
      newListItem.appendChild(text)
      newListItem.appendChild(button)
      newListItem.appendChild(numVotes)
      newListItem.setAttribute("id", story.ownerID);
      return newListItem
    }

    function createVoteButton(story) {
      var button = document.createElement('button')
      button.innerText = 'vote'
      var voterID = $("#ownerID").html()
      button.addEventListener('click', emitVote.bind(this, story.ownerID, voterID))
      return button
    }

    function createStoryImage(imgSource) {
      var image = document.createElement('img')
      image.src = imgSource
      image.height = 100
      image.weight = 100
      return image
    }

    socket.on('updateStories', function(stories){
      console.log(stories);
      var storiesList = document.getElementById('storiesList')
      var newList = document.createElement('div')
      newList.id = 'storiesList'
      stories.forEach(function(story){
        newList.appendChild(createStory(story))
      })
      storiesList.replaceWith(newList)
    })

    socket.on('updatedMoney', function(money){
      console.log("updated money")
      console.log(money)
      $("#money").html(money);
    })

    socket.on('timerUpdate', function(time){
      $("#timer").html(time);
      console.log("updating timer");
    })

    socket.on('winner', function(winner){
      console.log('WINNER', winner)
      alert(winner + ' wins!');
    })

    window.onload = function(){
      document.getElementById("storyButton").addEventListener('click', function(event){
        var storyName = document.getElementById('storyName').value
        var storyText = document.getElementById('storyText').value
        var storyImage = document.getElementById('storyImage').value
        var ownerID = $("#ownerID").html()
        console.log(ownerID)
        socket.emit('addStory', {storyName, ownerID,  storyText, storyImage})
      })
    }
  </script>
</head>
<body>
  <div class=page>
    <div id = "ownerID">{{uID}}</div>
    <div id = "timer">Dummy</div>
    <div id = "money">Test</div>
    <form id="story_form">
      Story Title:<br>
      <input id="storyName" type="text" name="name"><br>
      Why do you need the money?:<br>
      <textarea id="storyText" name="story" form="story_form"></textarea>
      <br>Image URL (optional):<br>
      <input id="storyImage" type="text" name="image">
    </form>
    <button id="storyButton" type="button" name="button">Add Story</button>
    <ul id='storiesList'>

    </ul>
  </div>
</body>
